:plain
  ---
  layout: default
  title: prug.pl
  comments: false
  ---
%h2 Co?
%p Nieformalne spotkania Poznan Ruby User Group
%h2 Gdzie?
%p Woźna 9C/2, Poznań, drugie piętro, na domofonie "Humanway"
%h2 Kiedy?
%p Każdy 4-ty czwartek miesiąca.
%h2 Najbliższe spotkanie:
%p
  %strong Data:
  28 kwietnia, g. 19:00
%p
  %strong Prezentacje:
  Czekamy na propozycje!
  Wysyłajcie swoje pomysły na talks(at)prug.pl
  Prezentacje zostaną ogłoszone w pierwszej połowie kwietnia
%h2 Poprzednie spotkania:
%p
  %strong Data:
  24 marca, g. 19:00
%p
  %strong Prezentacje:
%ul
  %li Wiktor Schmidt opowie o tym, dlaczego Coffeescript jest obowiązkowym tematem dla każdego programisty RoR
  %li Marcin Stecki pokaże jak korzystać z Solr-a i wytłumaczy, dlaczego porzucił Sphinksa
  %li Grzegorz Witek opowie o swoich doświadczeniach z MongoDB i Mongoid