:plain
  ---
  layout: default
  title: prug.pl
  comments: false
  ---
%h2.underline Co?
%p Nieformalne spotkania Poznan Ruby User Group
%h2.underline Gdzie?
%p
  %a{:href => "http://skocz.pl/dcssp", :class => "map"} Woźna 9C/2, Poznań
  \, drugie piętro, na domofonie "Humanway"
%h2.underline Kiedy?
%p Każdy 4-ty czwartek miesiąca (w czerwcu wyjątkowo zmiana!).
%h2.underline Najbliższe spotkanie:
%p{:class => "vlarge awesome ruby"}
  26 stycznia, godzina 19:00
%p
  %strong Prezentacje:
%ul
  %li
    Krzysztof Jabłoński - Cucumber for beginners.
  %li
    Michał Datberg - Jruby and some important libraries.

%h2.underline Poprzednie spotkania:
%p{:class => "slarge awesome"}
  24 listopada, godzina 19:00
%p
  %a{:class=>"small awesome blue", :href => "https://www.facebook.com/events/246854385368734/"} FaceBook
%p
  %strong Prezentacje:
%ul
  %li
    Szymon Fiedler - Redis with Resque
  %li
    Aleksander Kwiatkowski - Home IO vol.2
%p
  %strong Lightning talki:
%ul
  %li
    Szymon Fiedler - "Yayl"

%p{:class => "slarge awesome"}
  27 października, godzina 19:00
%p
  %strong Prezentacje:
%ul
  %li
    Dawid Woźniak - "ActiveAdmin - od zera do bohatera."
%p
  %strong Lightning talki:
%ul
  %li
    Michał Taberski - "Twitter Bootstrap"

%p{:class => "slarge awesome"}
  21 czerwca, godzina 19:30
%p
  %a{:class=>"small awesome blue", :href => "http://www.facebook.com/event.php?eid=216148971739354&ref=mf"} FaceBook
  %a{:class => "small awesome magenta", :href=>"http://maps.google.pl/maps?q=Al.Niepodleg%C5%82o%C5%9Bci+8&ie=UTF8&hq=&hnear=Aleja+Niepodleg%C5%82o%C5%9Bci+8,+Pozna%C5%84,+Wielkopolskie&gl=pl&t=h&z=16"}
    Uwaga: Najbliższe spotkanie odbywa się w klubie Alibi - Al.Niepodległości 8
%p
  %strong Prezentacje:
%ul
  %li Less VS Scss
  %li Amazon EC2
  %li UX i trendy w web design
  %li Aplikacje mobilne
  %li Metaprogramowanie w Ruby
  %li
    %strong Zgłoś swoją propozycję (formularz na dole strony)

%p{:class => "slarge awesome"}
  26 maja, godzina 19:00
%p
  %strong Prezentacje:
%ul
  %li
    Wiktor Schmidt - "Chef - getting started"
    %a.vsmall.awesome.ngrey{:href=>"http://www.slideshare.net/polak20/chef-getting-started-wiktor-schmidt-prug-30"} prezentacja
  %li
    Grzegorz Witek i Krzysztof Jabłoński opowiedzą o tym, dlaczego warto czekać na Rails 3.1
    %a.vsmall.awesome.ngrey{:href=>"http://www.slideshare.net/polak20/rails-31-grzegorz-witek-krzysztof-jablonski-prug-30"} prezentacja
  %li Marcin Stecki opowie o tym jak Jammit pomógł przyspieszyć pewien projekt
%hr
%p{:class => "slarge awesome"}
  28 kwietnia, godzina 19:00
%p
  %strong Prezentacje:
%ul
  %li Krzysztof Jabłoński opowie o gemie Active Merchant
  %li
    Michał Taberski poruszy temat Backbone.js
    %a.vsmall.awesome.ngrey{:href=>"http://www.slideshare.net/polak20/backbonejs-micha-taberski-prug-20"} prezentacja
  %li
    Aleksander Kwiatkowski opowie o rozwijanym przez siebie projekcie - HomeIO
    %a.vsmall.awesome.ngrey{:href=>"http://www.slideshare.net/polak20/homeio-aleksander-kwiatkowski"} prezentacja
%hr
%p{:class => "slarge awesome"}
  24 marca, godzina 19:00
%p
  %strong Prezentacje:
%ul
  %li Wiktor Schmidt opowie o tym, dlaczego Coffeescript jest obowiązkowym tematem dla każdego programisty RoR
  %li
    Marcin Stecki pokaże jak korzystać z Solr-a i wytłumaczy, dlaczego porzucił Sphinksa
    %a.vsmall.awesome.ngrey{:href=>"http://www.slideshare.net/polak20/marcin-stecki-solr-vs-sphinx-prug-10"} prezentacja
  %li
    Grzegorz Witek opowie o swoich doświadczeniach z MongoDB i Mongoid
    %a.vsmall.awesome.ngrey{:href=>"http://www.slideshare.net/polak20/grzegorz-witek-mongodb-ror-mongoid-prug-10"} prezentacja
%hr
%p
  %iframe{:frameborder => "0", :height => "733", :marginheight => "0", :marginwidth => "0", :src => "https://spreadsheets1.google.com/spreadsheet/embeddedform?formkey=dDRpNklvc3I0Z1AwYlItM2lsdXQyVFE6MQ", :width => "550"} Loading...
