:plain
  ---
  layout: default
  title: prug.pl
  comments: false
  ---
%h2 Co?
%p Nieformalne spotkania Poznan Ruby User Group
%h2 Gdzie?
%p Tym razem spotykamy się w klubie "Alibi", Al. Niepodległości 8 (za gmachem głównym Uniwersytetu Ekonomicznego)
-#%p 
  %a{:href => "http://skocz.pl/dcssp", :class => "map"} Woźna 9C/2, Poznań
  \, drugie piętro, na domofonie "Humanway"
%h2 Kiedy?
%p Każdy 4-ty czwartek miesiąca (w czerwcu wyjątkowo zmiana!)
%h2 Najbliższe spotkanie:
%p
  %strong Data:
  21 czerwca, g. 19:00
%p
  %strong Prezentacje:
%ul
  %li Zgłoś swoją propozycję (formularz na dole strony)
%h2 Poprzednie spotkania:
%p
  %strong Data:
  26 maja, g. 19:00
%p
  %strong Prezentacje:
%ul
  %li Wiktor Schmidt - "Chef - getting started"
  %li Grzegorz Witek i Krzysztof Jabłoński opowiedzą o tym, dlaczego warto czekać na Rails 3.1
  %li Marcin Stecki opowie o tym jak Jammit pomógł przyspieszyć pewien projekt
%h2 Poprzednie spotkania:
%p
  %strong Data:
  28 kwietnia, g. 19:00
%p
  %strong Prezentacje:
%ul
  %li Krzysztof Jabłoński opowie o gemie Active Merchant
  %li Michał Taberski poruszy temat Backbone.js
  %li Aleksander Kwiatkowski opowie o rozwijanym przez siebie projekcie - HomeIO
%p
  %strong Data:
  24 marca, g. 19:00
%p
  %strong Prezentacje:
%ul
  %li Wiktor Schmidt opowie o tym, dlaczego Coffeescript jest obowiązkowym tematem dla każdego programisty RoR
  %li Marcin Stecki pokaże jak korzystać z Solr-a i wytłumaczy, dlaczego porzucił Sphinksa
  %li Grzegorz Witek opowie o swoich doświadczeniach z MongoDB i Mongoid

%p
  %iframe{:frameborder => "0", :height => "733", :marginheight => "0", :marginwidth => "0", :src => "https://spreadsheets1.google.com/spreadsheet/embeddedform?formkey=dDRpNklvc3I0Z1AwYlItM2lsdXQyVFE6MQ", :width => "550"} Loading...
