<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <meta content='width = 750' name='viewport' />
    <link charset='utf-8' href='css/stylesheet.css' rel='stylesheet' type='text/css' />
    <title>{{ page.title }}</title>
  </head>
  <body id='intro'>
    <div id='wrapper'>
      <div id='header_wrapper'>
        <div class='wrapped' id='header' onclick="javascript:window.location='/'">
          <h1>
            <a href='/'>prug.pl</a>
          </h1>
          <h2>PRUG</h2>
        </div>
      </div>
      <div id='page_wrapper'>
        <div class='wrapped' id='page_body'>
          <div id='main'>
            <div id='navigation'>
              <ul>
                <li>
                  <a href='/'>Home</a>
                </li>
                <li>
                  <a href='http://github.com/prug/prug.github.com'>Fork me on github</a>
                </li>
              </ul>
            </div>
            <div id='content'>
              {{ content }}
              {% if page.comments %}
              <div id='disqus_thread'></div>
              <script type='text/javascript'>
                //<![CDATA[
                  var disqus_shortname = 'prug';
                  // The following are highly recommended additional parameters. Remove the slashes in front to use.
                  // var disqus_identifier = 'unique_dynamic_id_1234';
                  // var disqus_url = 'http://example.com/permalink-to-page.html';
                  
                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                //]]>
              </script>
              {% endif %}
            </div>
          </div>
          <div id='sidebar_wrapper'>
            <div id='sidebar'>
              <div id='elsewhere'>
                <h4>prug elsewhere</h4>
                <ul>
                  <li id='github'>
                    <a href='http://github.com/prug'>Github</a>
                  </li>
                  <li id='facebook'>
                    <a href='http://facebook.com/rubypoznan'>Facebook</a>
                  </li>
                </ul>
              </div>
              <div id='sponsors'>
                <h4>Sponsorzy</h4>
                <ul>
                  <li>Venue: netguru</li>
                  <li>Trunki: netguru</li>
                </ul>
              </div>
              <div id='github-badge'></div>
              <script type='text/javascript'>
                //<![CDATA[
                  GITHUB_USERNAME="prug";
                //]]>
              </script>
              <script src='http://drnic.github.com/github-badges/dist/github-badge-launcher.js' type='text/javascript'></script>
              <div id='facebook_list'>
                <fb:like-box header='true' href='http://www.facebook.com/rubypoznan' show_faces='true' stream='true' width='330'></fb:like-box>
                <script src='http://connect.facebook.net/pl_PL/all.js#xfbml=1'></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='footer_wrapper'>
      <div class='wrapped' id='footer'>
        <div id='credits'>
          <p>
            Design by
            <a href='http://marcinklimaszewski.pl' target='_blank'>Marcin Klimaszewski</a>
          </p>
          <p>
            Logo by
            <a href='http://pawelkrupski.pl' target='_blank'>Pan Krupski</a>
          </p>
        </div>
        <div id='rails'>
          rails
        </div>
      </div>
    </div>
  </body>
</html>
